<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="EyeCarer.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
    <userSettings>
        <EyeCarer.Properties.Settings>
            <setting name="ToYelloTime" serializeAs="String">
                <value>2700</value>
            </setting>
            <setting name="ToRedTime" serializeAs="String">
                <value>3600</value>
            </setting>
            <setting name="ToSleepTime" serializeAs="String">
                <value>5400</value>
            </setting>
            <setting name="RestEfficiency" serializeAs="String">
                <value>3</value>
            </setting>
        </EyeCarer.Properties.Settings>
    </userSettings>
</configuration>